.block-help-block {
  margin-top: 2rem;
}

.layout-builder-block {
  background: transparent;
}

.tabs.primary {
  margin: 1.5rem 0;
}

@include media-breakpoint-up(md) {
  .hero__banner {
    padding: 3rem 5rem;
  }
}
