.block-help-block {
  margin-top: 2rem;
}

.layout-builder-block {
  background: transparent;
}

.region-content-top,
.layout-builder-form {
  @include make-container();
  @include make-container-max-widths();
}

.tabs.primary {
  margin: 1.5rem 0;
}
